{% extends "books_app/base.html" %}
{% block content %}
  <h1>About the Website</h1>
  <br>
  <h5>This is a website to store your highlights and notes made while reading your favorite book
    and share it with everyone.</h5>
  <br>
  <p>
    Designed by
    <a href="https://www.linkedin.com/in/srinidhi-bhat-a08b3b112/" target="_blank">K Srinidhi Bhat</a>
    <br>Inspired by the Django tutorial from
    <a href="https://www.youtube.com/playlist?list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p"
       target="_blank">Corey Schafer</a>
  </p>
{% endblock content %}
