{% extends "books_app/base.html" %}
{% block content %}
  <!-- Below article block is copied from
  https://github.com/srinidhibhat/code_snippets/blob/master/Django_Blog/snippets/article.html -->
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <!-- by default, detailed views expect 'object' as the key in context dictionary -->
        <!-- adhering to defaults allows us to write less code and use the built-in functionality  -->
        <a class="mr-2" href="{% url 'books_app-user_books' object.added_by.username %}">{{ object.added_by }}</a>
        <small class="text-muted">{{ object.date_added|date:"F d, Y" }}</small>
        <!-- give an option to update or delete the book if he is logged in and he has added the book -->
        {% if object.added_by == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'books_app-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'books_app-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title"><strong>Title: </strong>{{ object.name }}</h2>
      <p><strong>Author: </strong>{{ object.author }}</p>
      {% if object.pages != None %}
        <p class="article-content">It has {{ object.pages }} pages.</p>
      {% endif %}
      <h5 class="article-title"><strong>Notes: </strong></h5>
      <p class="article-content">{{ object.notes }} </p>
    </div>
  </article>
{% endblock content %}
