{% extends "books_app/base.html" %}
{% block content %}
  <!-- Below article block is copied from
  https://github.com/srinidhibhat/code_snippets/blob/master/Django_Blog/snippets/article.html -->
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <!-- by default, detailed views expect 'object' as the key in context dictionary -->
        <!-- adhering to defaults allows us to write less code and use the built-in functionality  -->
        <small class="text-muted">added by </small>
        <a href="{% url 'books_app-user_books' object.added_by.username %}">{{ object.added_by }}</a>
        <small class="text-muted">on {{ object.date_added|date:"F d, Y" }}</small>
        <!-- give an option to update or delete the book if he is logged in and he has added the book -->
        {% if object.added_by == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'books_app-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'books_app-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <p class="article-title">
        <strong>Title: </strong><h3>{{ object.name }}</h3>
      </p>
      <p>
        <strong>Author: </strong><h5>{{ object.author }}</h5>
      </p>
      <!-- display number of pages if exists -->
      {% if object.pages != None %}
        <p>
          <strong>Other Info: </strong>
          <p class="article-content"> It has <strong>{{ object.pages }}</strong> pages.
        </p>
      {% endif %}
      {% if object.date_read != None %}
        <p>
          <p class="article-content"> Finished reading on <strong>{{ object.date_read }}</strong>.
        </p>
      {% endif %}
      <p>
        <strong>Notes: </strong>
      </p>
      <div class="article-content notes-font">{{ object.notes }} </div>
    </div>
  </article>
{% endblock content %}
